<figure style="display: none;" id="illustration" data-pics="{{ pics }}">
    <img src="none" alt="none">
    <figcaption></figcaption>
</figure>
<script src="front-illustration.js?cb={{ cacheBuster }}"></script>
