section {
    margin-top: 1lh;
    margin-bottom: 1lh;
    justify-content: left;
}

section:has(> aside.bottom) {
    align-items: flex-end;
}

section > article, aside {
    width: 50%;
    max-width: 45em;
}

aside.small-examples {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

aside > * {
    display: block;
    margin-left: 10%;
    max-width: 100%;
}

@media (max-width: 70em) {
    section > article, aside {
        width: 100%;
    }

    aside > * {
        margin-left: 0;
    }

    aside.small-examples {
        justify-content: space-evenly;
    }
}
