h1 span, p.tag-line span {
    display: inline-block;
}

section {
    display: flex;
    align-items: flex-start;
}

#introduction {
    max-width: 50%;
}

#article-index {
    margin-left: 10em;
}

#short-article > article{
    column-gap: 10em;
    column-count: 4;
}

@media (max-width: 120em) {
    #short-article > article {
        column-count: 3;
    }
}

@media (max-width: 75em) {
    #short-article > article {
        column-count: 2;
    }

    section {
        display: block;
        align-items: start;
    }

    #article-index {
        margin-left: 0;
    }

    #article-index, #short-article {
        margin-top: 4lh;
    }

    #intro-pic, #introduction {
        max-width: 100%;
    }
}

@media (max-width: 45em) {
    #short-article > article {
        column-count: 1;
    }
}
