h1 span, p.tag-line span {
    display: inline-block;
}

#introductions-articles {
    display: flex;
    align-items: flex-start;
}

#short-article > div {
    column-gap: 10em;
    column-count: 4;
}

@media (max-width: 120em) {
    #short-article > div {
        column-count: 3;
    }
}

@media (max-width: 75em) {
    #short-article > div {
        column-count: 2;
    }

    #introductions-articles {
        display: block;
        align-items: start;
    }

    #articles, #short-article {
        margin-top: 4lh;
    }

    #intro-pic {
        max-width: 100%;
    }
}

@media (max-width: 45em) {
    #short-article > div {
        column-count: 1;
    }
}
