body {
    margin-top: 2em;
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
    background-color: #000;
    color: #8f8;
}

time {
    font-size: smaller;
}

p, table {
    margin-top: 0;
    margin-bottom: 1em;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h1 span, p.tag-line span {
    display: inline-block;
}

h2 {
    margin-top: 0;
    margin-bottom: 1ex;
}

h1, h2, h3, h4 {
    font-style: normal;
}

a:link, a:visited {
    color: #5ee;
}

a:focus, a:hover, a:active {
    color: #fff;
}

.text-block {
    margin-top: 2em;
}

section {
    display: flex;
    align-items: flex-start;
}

section:not(.front-page) {
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: left;
}

@media (max-width: 75em) {
    section {
        display: block;
        align-items: start;
    }
}

section:has(> aside.bottom) {
    align-items: flex-end;
}

article, aside {
    width: 50%;
    /* TODO: check resizing on exceptions-for-php-errors.html
       There's a dodgy patch around half-width */
    max-width: 36em;
}

aside > * {
    display: block;
    margin-left: 10%;
    max-width: 100%;
}

@media (max-width: 75em) {
    article, aside {
        width: 100%;
    }

    aside > * {
        margin-left: 0;
    }
}

hr {
    width: 50%;
    border-style: solid;
    border-color: #111;
}

img {
    object-fit: scale-down;
    max-width: 40em;
    width: 609px;
    margin-right: 2em;
    display: block;
    margin-bottom: 2em;
    margin-right: 10em;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: left;
}

td, th, pre code, p.boxed {
    border-width: 1px;
    border-style: solid;
    border-color: #8f8;
    padding: 5px;
}

pre code {
    width: fit-content;
    /* Copied from highlight.js to make my non highlighted blocks compatible */
    display: block;
    overflow-x: auto;
}

code:not([class]), strong, th, td {
    color: #fff;
}

article#introduction {
    max-width: 50%;
}

#article-index {
    margin-left: 10em;
}

@media (max-width: 75em) {
    #intro-pic, article#introduction {
        max-width: 100%;
    }

    #article-index {
        margin-left: 0;
    }
}
