p, time {
    margin-top: 1ex;
}

h2 {
    margin-top: 1lh;
}

h1, nav h2:first-child, h3, h4 {
    margin-top: 0;
}

h1, h2, h3, h4 {
    margin-bottom: 0;
}

footer {
    margin-top: 1lh;
}

table {
    margin-top: 0;
    border-collapse: collapse;
}

hr, td, th, pre code, figure, p.update {
    border-width: 1px;
    border-style: solid;
}

td, th, pre code, figure, p.update {
    padding: 1em;
    margin: 0;
}

p, table {
    margin-bottom: 1ex;
}

img {
    margin-bottom: 2ex;
    width: 100%;
    display: block;
}

hr {
    margin-top: 1lh;
    margin-bottom: 1lh;
}
