h1 span, p.tag-line span {
    display: inline-block;
}

#cover-pic {
    margin-top: 1lh;
    margin-bottom: 1lh;

    & img {
        max-height: 70vh;
        max-width: 100%;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
