h1 span,
p.tag-line span {
    display: inline-block;
}

.front-page h1 {
    margin-top: 1em;
}

nav.article-index {
    margin-left: 10em;
}

@media (--narrow-window) {
    nav.article-index {
        margin-left: 0;
    }
}
