body {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

section, header, footer {
    display: grid;
    column-gap: 6vw;
    justify-self: center;
    grid-template-columns: min(41vw, 70ch) min(41vw, 70ch);

    @media (width < 1000px) {
        grid-template-columns: min(94vw, 70ch);
    }
}

@media (width >= 1000px) {
    h1, time {
        grid-column: span 2;
    }
}

section {
    &.front-page {
        row-gap: 5lh;
    }

    &:not(.front-page) {
        margin-bottom: 2lh;
    }
}

aside {
    overflow-x: auto;

    > figure, > pre, > table {
        max-width: 100%;
    }
}
