section {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(max(45vw, 30em), 1fr));

    & article {
        max-width: max(45vw, 30em)
    }

    &.front-page {
        row-gap: 5lh;
    }

    &:not(.front-page) {
        margin-bottom: 2lh;
    }
}

aside {
    overflow-x: auto;

    > figure, > pre, > table {
        max-width: 100%;
    }
}
