section, header, footer {
    display: grid;
    column-gap: 5em;
    grid-template-columns: repeat(2, min(45vw, 70ch));
    justify-self: center;

    & h1, & time {
        grid-column: span 2;
    }
}

section {
    &.front-page {
        row-gap: 5lh;
    }

    &:not(.front-page) {
        margin-bottom: 2lh;
    }
}

aside {
    overflow-x: auto;

    > figure, > pre, > table {
        max-width: 100%;
    }
}
