{{ layout "layout.vto" }}
    <header>
        <h1>{{ title }}</h1>
        {{ if humanDate }}
            <time datetime="{{ shortDate }}">{{ humanDate }}</time>
        {{ /if }}
    </header>
    <article>
        <section>
            <article>
                {{ content }}
            </article>
        </section>
    </article>
    <hr>
    <article><a href="/">More stuff to read</a></article>
{{ /layout }}
