<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="refresh" content="10; url={{ redirectTo }}">
        <title>Andy Preston - {{ title }}</title>
        <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
        <meta name="generator" :content="Lume">
    </head>
    <body>
        <p>
            <a href="{{ redirectTo }}">{{ title }}</a>
            {{ if redirectTo == "/" }}
                Was so awful, I've deleted it.
            {{ else }}
                Has been moved to a nicer URL! :)
            {{ /if }}
        </p>
    </body>
</html>
