{{ layout "../../_all-pages/layout.vto" }}
    {{ content }}
    <hr>
    <article>
        <a href="/">
            More stuff to read
        </a>
    </article>
    <article>
        {{ set git = "https://github.com/andy-preston/andy-preston.github.io" }}
        <a href="{{ git }}/blob/main/articles/text/{{ basename }}.md">
            Original Markdown
        </a>
    </article>
{{ /layout }}
