body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--background);
    color: var(--main-green);
    font-family: sans-serif;
}

p {
    margin-top: 1ex;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--main-blue-green);
    font-style: normal;
}

h1 {
    font-size: 2.5em;
}

h1 span,
p.tag-line span {
    display: inline-block;
}

p + h2 {
    margin-top: 2ex;
}

time {
    font-size: smaller;
}

.important {
    font-weight: bold;
}

table {
    margin-top: 0;
    border-collapse: collapse;
}

th {
    text-align: left;
}

td,
th,
pre code,
p.boxed {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    border-color: var(--main-green);
}

p,
table,
header {
    margin-bottom: 1ex;
}

img {
    margin-bottom: 2ex;
    margin-right: 10em;
    object-fit: scale-down;
    max-width: 40em;
    width: 609px;
    display: block;
}

hr {
    margin-top: 2lh;
    margin-bottom: 2lh;
    border-style: solid;
    border-color: var(--dark-but-visible);
}

section {
    display: flex;
}

section:not(.front-page) {
    margin-bottom: 1ex;
}

section:has(> aside.bottom) {
    align-items: flex-end;
}

article,
aside {
    width: 50%;
    max-width: 36em;
}

section.front-page article {
    max-width: 50%;
}

pre code {
    width: fit-content;
    display: block;
    overflow-x: auto;
}

aside > img,
aside > pre,
aside > table {
    margin-left: 10%;
    display: block;
    max-width: 100%;
}

nav.article-index {
    margin-left: 10em;
}

@media (width <= 75em) {
    section {
        display: block;
    }

    article,
    aside {
        width: 100%;
    }

    aside > img,
    aside > pre,
    aside > table {
        margin-left: 0;
    }

    section.front-page article,
    section.front-page article img {
        max-width: 100%;
    }

    nav.article-index {
        margin-left: 0;
    }
}

