{{ layout "../_all-pages/layout.vto" }}
    {{ content }}
    <hr>
    <article><a href="/">More stuff to read</a></article>
    <article><a href="https://github.com/andy-preston/andy-preston.github.io/blob/main/articles/{{ basename }}.md">Original Markdown</a></article>
{{ /layout }}
